---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  type?: "website" | "article";
  publishedTime?: Date;
  updatedTime?: Date;
}

const { title, description, type, publishedTime, updatedTime } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      type={type}
      publishedTime={publishedTime}
      updatedTime={updatedTime}
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
